$primary:#113f89;
$primary_light:#1561db;
$light_header:#dee0e2;

$header_nav_item_color:#0e962e;

$textColor_primary:white;
$textColor_secondary:#1a1b1a;
$textColor_ternary:#113f89;
$textColor_alternative:#0e962e;

$button_primary:#113f89;
$button_possitive:#0e962e;